<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your research project</title>
</head>
<body>

<div class="project-title">
    <h2 id="project-title"></h2>
</div>

<div class="mission-statement">
    <h4>Your goal for this project:</h4>
    <p id="mission-statement"></p>
</div>

<div class="realizations">
    <h4>Your realizations:</h4>
    <p id="no-realizations">You haven't made any realizations yet</p>
    <ul id="realizations-list">
        <!--Populated with JavaScript-->
    </ul>
</div>

<div class="axioms">
    <h4>Your axioms:</h4>
    <p id="no-axioms">No axioms have been written yet</p>
    <ul id="axioms-list">
        <!--Populated with JavaScript-->
    </ul>
</div>

<!--
I'm not a designer; I'm a programmer. I'm not going to design a loading spinner
-->
<div class="loading-screen" style="display: block;">
    <p id="loading-screen-message" style="color: #038c03"></p>
</div>

<div class="editors">
    <div id="realization-editor" style="display: none">
        <label for="note-editor-interface">What's on your mind?</label> <br>
        <textarea id="note-editor-interface" rows="4" cols="50" required></textarea> <br>
        <label for="note-editor-title">Title this thought</label> <br>
        <input type="text" id="note-editor-title" required> <br>
        <label for="note-editor-submit">Add realization to project</label> <br>
        <input type="submit" id="note-editor-submit"> <br>
        <label for="note-editor-cancel">Cancel</label>
        <input type="button" id="note-editor-cancel"><br>
        <!--I don't know why the button is so tiny-->
    </div>

    <div id="axiom-editor" style="display: none">
        <label for="axiom-editor-title">Title this writing:</label> <br>
        <input type="text" id="axiom-editor-title" required> <br>
        <!--Change the input for the optional note link to a dropdown-->
        <label for="optional-note-link">Optionally link a realization to this axiom</label> <br>
        <textarea id="optional-note-link" rows="1" cols="25"></textarea> <br>
        <label for="axiom-editor-interface">Let's explore this idea.</label> <br>
        <textarea id="axiom-editor-interface" rows="4" cols="75" required></textarea> <br>
        <label for="axiom-editor-submit">Add axiom to project</label> <br>
        <input type="submit" id="axiom-editor-submit">
        <label for="axiom-editor-cancel">Cancel</label>
        <input type="button" id="axiom-editor-cancel">
    </div>
</div>

<div class="options">
    <button id="jot-note">Jot down a note</button>
    <button id="develop-idea">Develop an idea</button>
    <button id="publish-findings">Publish your findings</button>
    <button id="more-options">See other choices</button>
</div>

<script src="../javascripts/research_project_controller.js"></script>
</body>

</html>