<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your homepage</title>

    <link rel="icon" type="image/svg+xml" href="../assets/hamachi_favicon.svg">

    <style>
        html {
            font-family: 'Trebuchet MS', AppleGothic, sans-serif;
        }
        textarea {
            font-family: 'Trebuchet MS', AppleGothic, sans-serif;
        }
        input {
            font-family: 'Trebuchet MS', AppleGothic, sans-serif;
        }
        button {
            font-family: 'Trebuchet MS', AppleGothic, sans-serif;
        }
    </style>
</head>
<body>

<div class="add-project">
    <label for="create-project">Create project:</label>
    <button id="create-project">Create</button>
</div>



<div class="project-creation" style="display: none">
    <h3>Create a new research project</h3>

    <label for="project-title">Title this project:</label> <br>
    <input type="text" id="project-title" required> <br>

    <label for="project-goal">
        What is your mission statement/goal for this project? <br>
        Try to make it one sentence.
    </label> <br>
    <textarea id="project-goal" rows="4" cols="50" required></textarea> <br>

    <label for="project-survey-checkbox">
        Would you like to set up a survey for your future self?
        <button id="more-project-survey-info">More info</button>
    </label> <br>

    <div id="survey-info" style="display: none">
        <p>
            Think of a survey like a pre-test before you start a class. <br>
            You answer questions to the best of your ability, <br>
            and after you are done with your research you retake the same survey <br>
            and you can see how your knowledge and ideas changed.
        </p>
    </div>

    <input type="checkbox" id="project-survey-checkbox"> <br>

    <div id="create-project-survey" style="display: none">
        <p>(Leave the field blank if you don't want that many questions)</p>

        <label for="survey-question-1">Q1.</label> <br>
        <input type="text" id="survey-question-1"> <br>

        <label for="survey-answer-1">A1.</label> <br>
        <input type="text" id="survey-answer-1"> <br>
        <br>
        <!--Question 2-->
        <label for="survey-question-2">Q2.</label> <br>
        <input type="text" id="survey-question-2"> <br>

        <label for="survey-answer-2">A2.</label> <br>
        <input type="text" id="survey-answer-2"> <br>
        <br>
        <!--Question 3-->
        <label for="survey-question-3">Q3.</label> <br>
        <input type="text" id="survey-question-3"> <br>

        <label for="survey-answer-3">A3.</label> <br>
        <input type="text" id="survey-answer-3"> <br>
        <br>
    </div>

    <label for="project-submit">Create project</label> <br>
    <input type="submit" id="project-submit"> <br>

    <button id="project-creation-cancel">Cancel</button>
</div>

<h2>Project:</h2>
<hr>

<p id="no-current-project" style="display: none">
    You don't have an active project right now
</p>

<div id="open-project">
    <h3 id="project-name">
        <!--Populated with JavaScript-->
    </h3>
    <button id="open-project-button">Pick up where you left off</button>
    <button id="clear-project-button">Clear this project's data</button>
</div>

</body>
<script src="../javascripts/user_homepage_controller.js"></script>
</html>

