body {
    font-family: 'Trebuchet MS', AppleGothic, sans-serif;
    color: #f4e9ff

}

input {
    font-family: 'Trebuchet MS', AppleGothic, sans-serif;
}

textarea {
    font-family: 'Trebuchet MS', AppleGothic, sans-serif;
}

html {
    background-color: #535e97;
}

hr {
    color: #4e3367;
}